<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnnString" connectionString="Data Source=|DataDirectory|\db\MoneyManager.db3;Foreign Keys=True;" providerName="System.Data.SQLite" /> 
  <!-- Cadena de conexión para desarrollo: connectionString="Data Source=C:\Astatito\Proyectos\MoneyManager\Presentacion\db\MoneyManager.db3;Foreign Keys=True;" providerName="System.Data.SQLite"-->
    <!-- El archivo de base de datos ubicado en el Proyecto se le configura la opción 'Do Not Copy'-->
  <!-- Cadena de conexión final: connectionString="Data Source=|DataDirectory|\db\MoneyManager.db3;Foreign Keys=True;" providerName="System.Data.SQLite" -->
    <!-- El archivo de base de datos ubicado en el Proyecto se le configura la opción 'Copy Always'-->
  </connectionStrings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
